@media (min-width: 550px) {
  .skin {
    background-color: #ffe600;
    min-height: 100vh;
    position: relative;
  }
  #center {
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    min-height: 50vh;
    min-width: 50vw;
  }
  #nose {
    border-width: 12px;
    border-color: black transparent transparent;
    border-style: solid;
    border-radius: 20px/10px;
    position: absolute;
    top: calc(50% - 52px);
    left: calc(50% - 12px);
    z-index: 50;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(5deg);
    }
    67% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  #nose:hover {
    transform: scale(1.2);
    transform-origin: center;
    animation: shake 0.25s linear infinite;
  }
  @keyframes eyeMoveOnce {
    25% {
      /* transform: translateX(1.9vw); */
      transform: translateX(54%);
    }
    50% {
      /* transform: translate(1.9vw, 2.9vw);*/
      transform: translate(54%, 75%);
    }
    75% {
      /* transform: translateY(2.9vw); */
      transform: translateY(75%);
    }
  }
  @keyframes eyeMove {
    50% {
      transform: translateX(50%);
    }
  }
  .eye.left {
    width: 64px;
    height: 64px;
    border: 1px solid var(--eye-border);
    background-color: var(--eye-background);
    position: absolute;
    left: calc(50% - 145px);
    top: calc(50% - 88px);
    border-radius: 50%;
  }
  .eye.left::before {
    content: "";
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    position: relative;
    top: 2%;
    left: 10%;
    animation: eyeMoveOnce 3s ease-in-out 1 normal none,
      eyeMove 3.5s ease-in-out 3s infinite alternate none;
  }
  .eye.right {
    width: 64px;
    height: 64px;
    border: 1px solid var(--eye-border);
    background-color: var(--eye-background);
    position: absolute;
    left: calc(50% + 81px);
    top: calc(50% - 88px);
    border-radius: 50%;
  }
  .eye.right::before {
    content: "";
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    position: relative;
    top: 2%;
    left: 10%;
    animation: eyeMoveOnce 3s ease-in-out 1 normal none,
      eyeMove 3.5s ease-in-out 3s infinite alternate none;
  }
  #mouth {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  }
  #mouth > .upLip.left {
    border-top: none;
    border-right: 1px solid var(--background);
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 80px;
    height: 25px;
    border-bottom-left-radius: 60px 30px;
    border-top-left-radius: 0%;
    transform: rotate(-29deg);
    left: -77px;
    top: -39px;
    transform-origin: bottom right;
    z-index: 10;
    background-color: var(--background);
    overflow: hidden;
  }
  #mouth > .upLip.left::before {
    border: 6px solid var(--background);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    content: "";
    display: block;
    width: 85px;
    height: 45px;
    position: absolute;
    left: -3px;
    top: -4px;
    z-index: 20;
  }
  #mouth > .upLip.right {
    border-top: none;
    border-left: 1px solid var(--background);
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 80px;
    height: 25px;
    border-bottom-right-radius: 60px 30px;
    border-top-right-radius: 0%;
    transform: rotate(30deg);
    left: -12px;
    top: -24px;
    transform-origin: bottom right;
    z-index: 11;
    overflow: hidden;
    background-color: var(--background);
  }
  #mouth > .upLip.right::before {
    border: 6px solid var(--background);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    content: "";
    display: block;
    width: 85px;
    height: 45px;
    position: absolute;
    left: -5px;
    top: -4px;
    z-index: 21;
  }
  #mouth > .round {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    top: -16px;
    left: -1px;
    border-radius: 100%;
    z-index: 40;
  }
  #mouth .bottomWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: -65px;
    left: -75px;
    border: 1px solid transparent;
    border-radius: 25%;
    z-index: -1;
  }
  #mouth > .bottomWrapper > .bottomLip {
    position: relative;
    width: 150px;
    height: 300px;
    left: 0;
    top: -132px;
    background-color: var(--lip-color);
    border-bottom-left-radius: 75px 300px;
    border-bottom-right-radius: 75px 300px;
    overflow: hidden;
    border: 4px solid black;
  }
  #mouth > .bottomWrapper > .bottomLip::before {
    content: "";
    display: block;
    background-color: var(--tongue-color);
    position: absolute;
    width: 120px;
    height: 200px;
    left: 7%;
    top: 55%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  #cheek {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #cheek > .left {
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: var(--cheek-color);
    top: calc(50% + 13px);
    left: calc(50% - 211px);
    border-radius: 50%;
    border: 3px solid black;
  }
  #cheek > .right {
    position: absolute;
    width: 88px;
    height: 88px;
    background-color: var(--cheek-color);
    top: calc(50% + 13px);
    left: calc(50% + 123px);
    border-radius: 50%;
    border: 3px solid black;
  }
}

@media (max-width: 550px) {
  .skin {
    background-color: #ffe600;
    min-height: 100vh;
    position: relative;
  }
  #center {
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    min-height: 50vh;
    min-width: 50vw;
  }
  #nose {
    border-width: 12px;
    border-color: black transparent transparent;
    border-style: solid;
    border-radius: 20px/10px;
    position: absolute;
    top: calc(50vh - 19vw);
    left: calc(50vw - 12px);
    z-index: 50;
  }
  @keyframes eyeMoveOnce {
    25% {
      transform: translateX(3.8vw);
    }
    50% {
      transform: translate(3.8vw, 5vw);
    }
    75% {
      transform: translateY(5vw);
    }
  }
  @keyframes eyeMove {
    50% {
      transform: translateX(3.8vw);
    }
  }
  .eye.left {
    width: 14vw;
    height: 14vw;
    border: 1px solid var(--eye-border);
    background-color: var(--eye-background);
    position: absolute;
    left: calc(50vw - 33vw);
    top: calc(50vh - 30vw);
    border-radius: 50%;
  }
  .eye.left::before {
    content: "";
    display: block;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    position: relative;
    top: 3%;
    left: 10%;
    animation: eyeMoveOnce 3s ease-in-out 1 normal none,
      eyeMove 3.5s ease-in-out 3s infinite alternate none;
  }
  .eye.right {
    width: 14vw;
    height: 14vw;
    border: 1px solid var(--eye-border);
    background-color: var(--eye-background);
    position: absolute;
    left: calc(50vw + 33vw - 14vw);
    top: calc(50vh - 30vw);
    border-radius: 50%;
  }
  .eye.right::before {
    content: "";
    display: block;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    position: relative;
    top: 3%;
    left: 10%;
    animation: eyeMoveOnce 3s ease-in-out 1 normal none,
      eyeMove 3.5s ease-in-out 3s infinite alternate none;
  }
  #mouth {
    position: absolute;
    top: 46%;
    left: 50%;
    z-index: 10;
  }
  #mouth > .upLip.left {
    border-top: none;
    border-right: 1px solid var(--background);
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 80px;
    height: 25px;
    border-bottom-left-radius: 60px 30px;
    border-top-left-radius: 0%;
    transform: rotate(-29deg);
    left: -77px;
    top: -39px;
    transform-origin: bottom right;
    z-index: 10;
    background-color: var(--background);
    overflow: hidden;
  }
  #mouth > .upLip.left::before {
    border: 6px solid var(--background);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    content: "";
    display: block;
    width: 85px;
    height: 45px;
    position: absolute;
    left: -3px;
    top: -4px;
    z-index: 20;
  }
  #mouth > .upLip.right {
    border-top: none;
    border-left: 1px solid var(--background);
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    position: relative;
    width: 80px;
    height: 25px;
    border-bottom-right-radius: 60px 30px;
    border-top-right-radius: 0%;
    transform: rotate(30deg);
    left: -12px;
    top: -24px;
    transform-origin: bottom right;
    z-index: 11;
    overflow: hidden;
    background-color: var(--background);
  }
  #mouth > .upLip.right::before {
    border: 6px solid var(--background);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    content: "";
    display: block;
    width: 85px;
    height: 45px;
    position: absolute;
    left: -5px;
    top: -4px;
    z-index: 21;
  }
  #mouth > .round {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    top: -16px;
    left: -1px;
    border-radius: 100%;
    z-index: 40;
  }
  #mouth .bottomWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: -65px;
    left: -75px;
    border: 1px solid transparent;
    border-radius: 25%;
    z-index: -1;
  }
  #mouth > .bottomWrapper > .bottomLip {
    position: relative;
    width: 150px;
    height: 300px;
    left: 0;
    top: -132px;
    background-color: var(--lip-color);
    border-bottom-left-radius: 75px 300px;
    border-bottom-right-radius: 75px 300px;
    overflow: hidden;
    border: 4px solid black;
  }
  #mouth > .bottomWrapper > .bottomLip::before {
    content: "";
    display: block;
    background-color: var(--tongue-color);
    position: absolute;
    width: 120px;
    height: 200px;
    left: 7%;
    top: 55%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
  #cheek {
    position: absolute;
    top: 52%;
    left: 50%;
  }
  #cheek > .left {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: var(--cheek-color);
    top: -4vh;
    left: -46vw;
    border-radius: 50%;
    border: 3px solid black;
  }
  #cheek > .right {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background-color: var(--cheek-color);
    top: -4vh;
    left: 30vw;
    border-radius: 50%;
    border: 3px solid black;
  }
}
